/*general styling */


html { height: 100%; }
body { height: 100%;
    margin: 0 ; 
    padding: 0;
    background-color: #e3e3e3;
    background-image:url('images/background-image2.jpg');


         
     }

nav{
  background-color: white;
  padding: 15px;
  padding-top: 20px;

}

.container{

  background-color: #3a9cd5;
  height: 100%;
  max-width: 1000px;
  padding: 0px 15px 0px 15px;
}

#main-content-container{
background-color: white;
margin: 3% 4%;
padding: 3px 10px 10px 10px ;


}

button{
  background-color: #255f8a !important;
  color: #e5e5e5 !important;


}

button:hover
{ 
background-color:#2d7ac0 !important;
}

h1 small {
  color:  #255f8a;
}

h3 small {
  color: #255f8a;
}

.navbar-toggle > button:hover  {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;


}

/*map ? */

#map-canvas { 
  width: 100%;
  /* have to either give pixel value or set all container columns to 100% */
  height: 500px; 
}

.vcenclass="center-block" class="center-block" ter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
  }


.btn-file {
  position: relative;
  overflow: hidden;
}


/*nav bar*/
.navbar-default{
	background-color: #bddc6f;
	color: #255f8a !important;
	border: 0px;

}

#logo-home{
	float:left;
	margin-top: 5px;
	margin-right: 7px;
}



.navbar-toggle .icon-bar{
 	background-color: #979797 !important;

}

.navbar-toggle {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;

}




.navbar-brand , .navbar-default .navbar-nav > li > a {
		color: #255f8a !important;

}

 .navbar-default .navbar-nav > li > a:hover {
    background-color: #75c2e7;
    color: white !important;
}


.navbar-default .navbar-nav > li > a:active {
    background-color: #75c2e7;
    color: white !important;
}


#UCB-nav-logo{


  margin-right: 15px;
  margin-left: 0px;
  float:left;

}

#login-button{

  float:right;
  margin-top: 10px;
  margin-right: 15px;
   list-style-type: none;

   padding: 5px 0px 10px 15px;
   border-left: 1px solid grey;
   height: 30px;
}


/*tables */
.pointstotal {
	font-size: 30;
}


.tablesize {
	width: 85%;
	margin: auto;

}

caption .pointstable {
	background-color: #f0f0f0;
}

.ptheader {
	width: 100%; 
	background-color: #f0f0f0; 
	padding:12px;
	font-size: 1.2em;
	font-weight: bold;
}


.ptcounter {
	width: 100%; 
	background-color: #f0f0f0; 
	padding:12px;
	font-size: 1.5em;
	font-weight: bold;
}




tfoot tr {
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.5em;
  font-weight: bold;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

legend {
  color: #255f8a;
}




/*login page (landing) */

#slogin{
  text-align:center;
  font-size: 140%;
  line-height:95%;
  max-width: 230px;
  margin: 0 auto;

}

.landing-logo{
  margin-top: 10px;
}


.button-landing, .button-landing2{
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 4px;
}

.button-landing2{
  background-color: #a1cc00 !important;
}

.button-landing2:hover{

  background-color: #b3e300 !important;

}

.landing-background{
  width: 100%;
  margin: 0 auto;
  background-color: #3a9cd5;
  padding: 30px 7% 20px 7%;


}

.h3-createuser{
  color: black;
  padding: 0 !important;
  margin: 0 !important;

}

.boston-photo{
  background-image:url('images/Boston-a-lheure-bleue-by-Emmanuel-Huybrechts.jpg');
  width: 100%;
  height: 200px;


}
