html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas { 
  width: 100%;
  /* have to either give pixel value or set all container columns to 100% */
  height: 500px; 
}

.vcenter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
}

.nav{
	background-color: #bddc6f;
	width: 100%;


}
