/*general styling */


html { height: 100%; }
body { height: 100%;
    margin: 0 ; 
    padding: 0;
    background-color: #e3e3e3;
    background-image:url('images/background-image2.jpg');
     }

nav{
  background-color: white;
  padding: 20px 15px 10px 15px !important;


}

.container-real{
   background-color: white;
   max-width: 1000px;
   margin:  0px auto;



}

.event-container{
  padding: 20px;
  min-height: 400px;

}


 #main-content-container{
    border: 25px solid  #3a9cd5;

/*need padding for the general pages, messes up front page. Need a solution to template issue...*/
/*padding: 0px 0px 30px 0px ;*/

   /* min-height: 300px;*/
}


button{
  background-color: #255f8a !important;
  color: #e5e5e5 !important;


}

button:hover
{ 
background-color:#2d7ac0 !important;
}

h1 small {
  color:  #255f8a;
  font-size: .5em;
  line-height: 2px !important;
}

h3 small {
  color: #255f8a;
}

.navbar-toggle > button:hover  {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;


}

/*map ? */

#map-canvas { 
  width: 100%;
  /* have to either give pixel value or set all container columns to 100% */
  height: 500px; 
}

.vcenclass="center-block" class="center-block" ter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
  }


.btn-file {
  position: relative;
  overflow: hidden;
}


/*nav bar*/
.navbar-default{
  background-color: #bddc6f;
  color: #255f8a !important;
  border: 0px;

}

#logo-home{
  float:left;
  margin-top: 5px;
  margin-right: 7px;
}

.navbar-toggle .icon-bar{
  background-color: #979797 !important;

}

.navbar-toggle {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;

}

.navbar-toggle {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;

}






.navbar-brand , .navbar-default .navbar-nav > li > a {
    color: #255f8a !important;

}

 .navbar-default .navbar-nav > li > a:hover {
    background-color: #75c2e7;
    color: white !important;
}


.navbar-default .navbar-nav > li > a:active {
    background-color: #75c2e7;
    color: white !important;
}

.nav-background{

  /*background-color: #255f8a;*/
  width: 100%;
}

#UCB-nav-logo{


  margin-right: 20px;
  margin-left: 0px;
  float:left;
  margin-bottom: 10px;

}

#login-button{

  float:right;
  margin-top: 10px;
   list-style-type: none;

  padding: 5px 0px 10px 15px;
  /*border-left: 1px solid #dfdfdf;*/
}


/*tables */
.pointstotal {
  font-size: 30;
}

.tablesize {
  width: 85%;
  margin: auto;

}

caption .pointstable {
  background-color: #f0f0f0;
}

.ptheader {
  width: 100%; 
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.2em;
  font-weight: bold;
}


.ptcounter {
  width: 100%; 
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.5em;
  font-weight: bold;
}




tfoot tr {
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.5em;
  font-weight: bold;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

legend {
  color: #255f8a;
}




/*login page (landing) */

#slogin{
  text-align:center;
  font-size: 140%;
  line-height:95%;
  max-width: 230px;
  margin: 0 auto;

}

.landing-logo{
  margin-top: 10px;
}


.button-landing, .button-landing2{
  width: 100%;
  border: 0;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 4px;
  margin-top: 15px;
}

.button-landing2{
  background-color: #a1cc00 !important;
}

.button-landing2:hover{

  background-color: #b3e300 !important;

}

.landing-background{
  width: 100%;
  margin: 0 auto;
  background-color: #3a9cd5;

  /*use when you can get rid of nav bar on landing page*/
  /*padding: 30px 7% 20px 7%;*/

  padding: 15px 8% 5px 8%;


}

.h3-createuser{
  color: black;
  padding: 0 !important;
  margin: 0 !important;

}

.boston-photo{
  background-image:url('images/Boston-a-lheure-bleue-by-Emmanuel-Huybrechts.jpg');
  width: 100%;
  height: 250px;


}

/*Home Page */

.small-screen-event{

  display: none;

}

 .full-screen-event{
      
  display: table-row;

  }

   .editEvent{

        font-size: 12px;
        padding: 5px;
      }


@media (max-width: 640px){
                  /*640px chosen because it is the width of iPhone 5s*/

        #main-content-container{

            border: 15px solid  #3a9cd5;

        }



        .full-screen-event{
            
            display: none;

        }


      .small-screen-event{

        display: table-row;

      }

      .editEvent{

        font-size: 10px;
        padding: 5px;
      }

    
 
  
}

.boston-photo p{
   

    position: relative;
    top: 200px;
    left: 10px;

    color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 10px;
}


}

/*pills*/

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background-color: #3bafda;
}

.nav-pills > li > a:hover {
  color: #434a54;
  background-color: #b3e300;
}
.nav-pills > .active > a > .badge {
  color: #3bafda;
}
.nav-pills .open > a, .nav-pills .open > a:focus, .nav-pills .open > a:hover {
  color: #434a54;
  background-color: #e6e9ed;
}

.nav-pills > li > a {
  background-color: blue !important;
  color: black;
  margin-right: 5px;
  font-size: 12px;
  padding-top: 10px ;
  padding-right: 10px;
  padding-bottom: 10px ;
  padding-left: 10px;


}

/*member page */

button > #addMember {
  border: 10px solid red !important;

}

.bottom-layout{
  background-color: black;

}

