html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-canvas { 
  width: 100%;
  /* have to either give pixel value or set all container columns to 100% */
  height: 500px; 
}

.vcenter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
}

.nav{
	background-color: #bddc6f;
}

.pointstotal {
	font-size: 30;
}

h1 small {
	color:  #255f8a;
}

.pointstable {
	width: 50%;
	margin: auto;

}

caption .pointstable {
	background-color: #f0f0f0;
}

.ptheader {
	width: 100%; 
	background-color: #f0f0f0; 
	padding:12px;
	font-size: 1.2em;
	font-weight: bold;
}

.ptcounter {
	width: 100%; 
	background-color: #f0f0f0; 
	padding:12px;
	font-size: 1.5em;
	font-weight: bold;
}