<template name="layout">
  <div class="container">
    <div id="main" class="row">
     <!-- <nav class="navbar navbar-default" role="navigation">-->


     
    <nav role="navigation" class="nav">

        <div class="container-fluid">


           
             <div id="login-button" class='logout'>
                  {{> loginButtons}}
              </div>
           
                     
          <div class="navbar-header">

                 <a href="{{pathFor 'memberHomePage'}}"><img id="UCB-nav-logo" border="0" src="images/ucb-logo-lg.jpg" alt="UCB Logo"  height="40"></a>

          </div>

         <!--  <div id="disapear">Text disapear!!!</div>-->

              <div class="nav-background">

            {{#if isInRole 'admin'}}
               <ul class="nav navbar-nav nav nav-pills">
              <li><a href="{{pathFor 'memberProfiles'}}">Members</a></li>
              <li><a href="{{pathFor 'reviewPhotos'}}">Approve Points</a></li>
              <li><a href="{{pathFor 'showMemberRewards'}}">Rewards</a></li>
              <li><a href="{{pathFor  'addCommunityEvents'}}">Add Events</a></li>
            </ul>
            

            {{else}}  
            <ul class="nav navbar-nav nav nav-pills">
              <li><a href="{{pathFor 'scanQR'}}">Check In</a></li>
              <li><a href="{{pathFor 'checkPoints'}}">Points</a></li>
              <li><a href="{{pathFor 'listEvents'}}">Events</a></li>
              <li><a href="{{pathFor 'showMemberRewards'}}">Rewards</a></li>
            </ul>

            {{/if}}
          </div>

           
          </div>
      </nav>

          <div id="main-content-container">

             {{> alerts}}
            {{> yield}}

          </div>

          <div class="boston-photo"><a href="https://www.flickr.com/photos/ensh/4769294947"><p>Photo by Emmanuel Huybrechts</p></a></div>


    </div>
  </div>
</template>
