/*general styling */

.tableSort {
  text-align: center;
}

/* 
  The padding top is to handle the navbar collapsed on mobile
  The navbar is 50px by default
*/
html { height: 100%; }
body { height: 100%;
    margin: 0 ; 
    padding-top: 80px;
    background-color: #e3e3e3;
     }

nav{
  background-color: white;
  padding: 20px 15px 10px 15px !important;


}

.container-real{
   background-color: white;
   max-width: 1000px;
   margin:  0px auto;



}

.event-container{
  padding: 20px;
  min-height: 400px;

}


 #main-content-container{
    border: 25px solid  #3a9cd5;

/*need padding for the general pages, messes up front page. Need a solution to template issue...*/
/*padding: 0px 0px 30px 0px ;*/

   /* min-height: 300px;*/
}


h1 small {
  color:  #255f8a;
  font-size: .5em;
  line-height: 2px !important;
}

h3 small {
  color: #255f8a;
}

.navbar-toggle > button:hover  {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;


}

/*map ? */

#map-canvas { 
  width: 100%;
  /* have to either give pixel value or set all container columns to 100% */
  height: 500px; 
}



.btn-file {
  position: relative;
  overflow: hidden;
}


/*nav bar*/
.navbar-default{
  background-color: #bddc6f;
  color: #255f8a !important;
  border: 0px;

}

#logo-home{
  float:left;
  margin-top: 5px;
  margin-right: 7px;
}

.navbar-toggle .icon-bar{
  background-color: #979797 !important;

}

.navbar-toggle {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;

}

.navbar-toggle {

  background-color: #f8f8f8 !important;
  border-color: #dddddd !important;

}






.navbar-brand , .navbar-default .navbar-nav > li > a {
    color: #255f8a !important;

}

 .navbar-default .navbar-nav > li > a:hover {
    background-color: #75c2e7;
    color: white !important;
}


.navbar-default .navbar-nav > li > a:active {
    background-color: #75c2e7;
    color: white !important;
}

.nav-background{

  /*background-color: #255f8a;*/
  width: 100%;
}

#UCB-nav-logo{


  margin-right: 20px;
  margin-left: 0px;
  float:left;
  margin-bottom: 10px;

}

#login-button{

  float:right;
  margin-top: 10px;
   list-style-type: none;

  padding: 5px 0px 10px 15px;
  /*border-left: 1px solid #dfdfdf;*/
}


/*tables */
.pointstotal {
  font-size: 30px;
}

.tablesize {
  width: 85%;
  margin: auto;

}

caption .pointstable {
  background-color: #f0f0f0;
}

.ptheader {
  width: 100%; 
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.2em;
  font-weight: bold;
}


.ptcounter {
  width: 100%; 
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.5em;
  font-weight: bold;
}




tfoot tr {
  background-color: #f0f0f0; 
  padding:12px;
  font-size: 1.5em;
  font-weight: bold;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

legend {
  color: #255f8a;
}




/*login page (landing) */

#slogin{
  text-align:center;
  font-size: 140%;
  line-height:95%;
  max-width: 230px;
  margin: 0 auto;

}

.landing-logo{
  margin-top: 10px;
}


.button-landing, .button-landing2{
  width: 100%;
  border: 0;
  font-size: 1.3em;
  padding: 5px;
  border-radius: 4px;
  margin-top: 15px;
}

.button-landing1 {
  background-color: #255f8a !important;
  color:white;
}

.button-landing2{
  background-color: #a1cc00 !important;
}

.button-landing2:hover{

  background-color: #b3e300 !important;

}

.landing-background{
  width: 100%;
  margin: 0 auto;
  background-color: #3a9cd5;

  /*use when you can get rid of nav bar on landing page*/
  /*padding: 30px 7% 20px 7%;*/

  padding: 15px 8% 5px 8%;


}

.h3-createuser{
  color: black;
  padding: 0 !important;
  margin: 0 !important;

}

.boston-photo{
  background-image:url('images/Boston-a-lheure-bleue-by-Emmanuel-Huybrechts.jpg');
  width: 100%;
  height: 250px;


}

/*Home Page */

.small-screen-event{

  display: none;

}

 .full-screen-event{
      
  display: table-row;

  }

   .editEvent{

        font-size: 12px;
        padding: 5px;
      }


@media (max-width: 640px){
                  /*640px chosen because it is the width of iPhone 5s*/

        #main-content-container{

            border: 15px solid  #3a9cd5;

        }



        .full-screen-event{
            
            display: none;

        }


      .small-screen-event{

        display: table-row;

      }

      .editEvent{

        font-size: 10px;
        padding: 5px;
      }

    
 
  
}

.boston-photo p {
   

    position: relative;
    top: 200px;
    left: 10px;

    color:white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 10px;
}


/*member page */

button > #addMember {
  border: 10px solid red !important;

}

.bottom-layout{
  background-color: black;

}

.list-group {
  width: 80%;
margin-left: auto;
margin-right: auto;
}

/* CODE I INSERTED FOR THE "OR" ON checkIntoEvent.html */
.strike {
    display: block;
    text-align: center;
    font-size: 1.5em;
    color:#255f8a; 
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Below taken from Discover Meteor */

@-webkit-keyframes fadeOut { 0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;} 
}

@keyframes fadeOut { 0% {opacity: 0;} 10% {opacity: 1;} 90% {opacity: 1;} 100% {opacity: 0;}
}

.alerts{
  position: fixed; 
  z-index: 10000; 
  padding: 10px; 
  pointer-events: none; 
}
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards; -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both; margin-bottom: 5px; pointer-events: auto;
}

/* Fixes the width of FB plugin */
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width:  100% !important;display:block;z-index:2000;position:relative}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe  span[style] {width: 100% !important;display:block;z-index:2000;position:relative}

/* --------- Handles styling of all page panels --------------- */
.page-panel {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-panel-md {
  height: 30px;
}

/* Custom page panel links */
.signup-panel {
  background-color: #B4E874;
  color: white;
  font-size: 150%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.lost-pw-panel {
  background-color: #74E8DB;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
}

.facebook-panel {
  background-color: blue;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
}

.page-panel-flush {
  background-color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0;
}

.today-panel {
  font-size: 130%;
}

.points-panel {
  font-size: 200%;
}

.last-panel {
  margin-bottom: 20px;
}

.page-panel-spacer {
  margin-top: 30px;
}

.page-panel-form {
  padding-bottom: 0px;
}

.panel-link {
  cursor: pointer;
}

/* ------------------------------ */

/* Bottom navigation buttons */
.nav-left-button {
  border-style: none;
}

.nav-right-button {
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: none;
  line-height: 80%;
}

