<template name="addCustomerForm">
  <form class="form-inline" role="form">
    <div class="form-group">
      <label class="sr-only" for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label class="sr-only" for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
    </div>
    <button type="submit" class="btn btn-success" id="createNewCustomer">Create New Customer</button>
  </form>
</template>
