<template name="addCommunityEvents">
  {{>listEvents}}
  <button type="button" class="btn btn-lg btn-default text-center" id="addEvent">Add Event</button>
  <button type="button" class="btn btn-lg btn-default text-center" id="showMap">Show Map</button>
  <br><br>
  {{#if addEventClicked}}
  <div class="col-md-4 col-md-offset-4">
    {{> quickForm collection="Events" id="insertEventsForm" type="insert"}}
    <button type="button" class="btn btn-danger" id="cancelEvent">Cancel Event</button>
  </div>
  {{/if}}
  {{#if showMapClicked}}
    <button type="button" class="btn btn-danger" id="hideMap">Hide Map</button>
    {{> communityNeeds }}
  {{/if}}
</template>
