<template name="addCustomerForm">

  <!-- TODO: refactor these and other forms into one partial -->
  <form role="form">
    <br>
    <div class="form-group>">
      <label for="firsName" class="sr-only">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
    </div>
    <br>
    <div class="form-group>">
      <label for="lastName" class="sr-only">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
    </div>
    <br>
    <div class="form-group>">
      <label for="userStreet" class="sr-only">Street Address</label>
      <input type="text" class="form-control" id="userStreet" 
        placeholder="Enter Street">
    </div>
    <br>
    <div class="form-group>">
      <label for="userZip" class="sr-only">Zip</label>
      <input type="text" class="form-control" id="userZip" 
        placeholder="Enter Zip Code">
    </div>
    <br>
    <div class="form-group>">
      <label for="userPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" id="userPassword" 
        placeholder="Enter Password">
    </div>
    <br>
    <div class="form-group>">
      <label for="userPasswordConfirm" class="sr-only">Confirm Password</label>
      <input type="password" class="form-control" id="userPasswordConfirm" 
        placeholder="Enter Password Again">
    </div>
    <button type="submit" class="button-landing" id="createNewUser">Submit</button>
  </form>

</template>
