<template name="adminHomePage">
  <h1 class="text-center"><small>Welcome Admin!</small></h1>
  <div class="row text-center">
    <div class="col-md-4 col-md-offset-4">
      <button class="button-landing" id="memberProfiles">
        Member Profiles
      </button>
      <br>
      <button class="button-landing" id="approvePoints">
        Approve Points
      </button>
      <br>
      <button class="button-landing" id="manageEvents">
        Manage Events
      </button>
      <br>
      <br>
    </div>
  </div>
</template>
