<template name="adminHomePage">
  <h1 class="text-center"><small>Welcome Admin</small></h1>
  <hr>
  <div class="col-md-6 col-md-offset-3">
    <div class="row text-center">
      <h1><small>Member Settings</small></h1>
      <hr>
      <p><a href="{{pathFor 'memberProfiles'}}" class="btn-lg btn-default btn-block">Member Profiles
      </a></p>
      <p><a href="reviewPhotos" class="btn-lg btn-default btn-block">
          Review Member Photos
      </a></p>
      <p><a href="itemPictures" class="btn-lg btn-default btn-block">
          Update Rewards and Points
      </a></p>
      <h1><small>Community</small></h1>
      <hr>
      <p><a href="addCommunityEvents" class="btn-lg btn-default btn-block">
          Add, Modify, and View Community Events 
      </a></p>
      <p><a href="landing" class="btn-lg btn-default btn-block">
          Manage Group Activities
      </a></p>
    </div>
  </div>
</template>
