<template name="checkIntoEvent">
  <div class="col-md-4 col-md-offset-4">
    <h1><small>Scan a QR Code</small></h1>
    <hr>
    <p>This geolocates the user to an event and displays the result</p>
    {{#autoForm collection="Transactions" id="insertTransactionForm" type="insert"}}
      <fieldset>
      <legend>Add points from Event</legend>
      {{> afFieldInput name='eventId' options=eventOptions}}
      </fieldset>
    {{/autoForm}}
    <button type="button" class="btn btn-large btn-default" id="geoLocate">
      GeoLocate!
    </button>
    <div id="geoText"></div>
  </div>
</template>
