<template name="checkPoints">
  <div class="text-center">
    <h1><small>Your Activity History</small></h1>
    <br>
    </div>

      <div class="tablesize">
    <div class="ptheader">Your UCB Log</div>
    <table class="table table-striped">
<!--      <caption>Your UCB Activities</caption> -->
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Points</th>
        <th>Event Date</th>
      </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="0">Total Points: </td>
      <td>{{totalPoints}}</td>
      <td></td>
    </tr>
    </tfoot>
    <tbody>
    {{#each activities}}
      <tr>
        <td>{{eventName}}</td>
        <td>{{eventPoints}}</td>
        <td>{{formatDate eventStart}} </td>
        <!-- <td class="text-right">
         <a href="#" class="btn btn-warning btn-xs">Feedback</a> 
        </td>  -->
      </tr>
    {{else}}
      <h3>No points accrued yet!</h3>
    {{/each}}
    </tbody>

  </table>
</div>

</template>
