<template name="checkPoints">
  <div class="text-center">
    <h1><small>Activity History</small></h1>
    <hr>
    </div>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Points</th>
        <th>Event Start Date</th>
        <th>Event End Date</th>
      </tr>
    </thead>
    <tbody>
    {{#each activities}}
      <tr>
        <td>{{eventName}}</td>
        <td>{{eventPoints}}</td>
        <td>{{formatDate eventStart}} </td>
        <td>{{formatDate eventEnd}} </td>
        <td class="text-right">
          <a href="#" class="btn btn-warning btn-xs">Feedback</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <h3 class="text-center">Total Points: {{totalPoints}}</h3>
</template>
