<template name="forgotPassword">
    <form role="form">
      <div class="form-group>">
        <label for="userEmail" class="sr-only">User Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Enter Email">
      </div>
      <div class="form-group>">
        <label for="newPassword" class="sr-only">New Password</label>
        <br>
        <input type="password" class="form-control" id="newPassword" 
        placeholder="Enter New Password">
      </div>
      <div class="form-group>">
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <br>
        <input type="password" class="form-control" id="confirmPassword" 
        placeholder="Re-enter New Password">
      </div>
      <button type="button" class="button-landing2" id="submit">Submit</button>
      <button type="button" class="button-landing" id="back">Back</button>

    </form>
</template>
