<template name="itemMenu">
  <div class="col-sm-6 col-sm-offset-3">
      <div class="row text-center">
        <p>
        <a href="shopping" class="btn-lg btn-default btn-block">Design</a>
        </p>
      </div>
      <div class="row text-center">
        <p>
        <a href="itemPictures" class="btn-lg btn-default btn-block">Add Photos to Item</a>
        </p>
      </div>
      <div class="text-center">
        <p>
        <a href="landing" id="addItem" class="btn-lg btn-success btn-block">Add Item</a>
        </p>
      </div>
  </div>
</template>
