<template name="landing">
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <img class="img-responsive landing-logo" src="images/UCB-square.png" 
      alt="Union Capital Logo">
    <br>
    <p id="slogin">
      <small><em>Giving back to people who give back to their communities</em></small>
    </p>
  </div>
</div>
<br>
<div class="row text-center">
  {{#if loginState 'landingPage'}}
    <button type="button" class="btn btn-lg btn-default" id="login">Login</button>
    <br>
    <br>
    <button type="button" class="btn btn-lg btn-default" id="signUp">Sign Up</button>
  {{else}}
    {{#if loginState 'loginPage'}}
      {{> loginPage }}
    {{else}}
      {{> createUser }}
    {{/if}}
  {{/if}}
</div>
</template>
