<template name="landing">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <img class="img-responsive landing-logo" src="images/ucb-logo-lg.jpg" 
      alt="Union Capital Logo">
    <br>

    <p id="slogin">
      <small><em>Giving back to people who give back to their communities</em></small>
    </p>
  </div>
</div>
<br>



<div class="row text-center landing-background">
  {{#if loginState 'landingPage'}} 
        
      <div class="col-md-6 col-md-offset-3">

        <form role="form">
      <div class="form-group>">
        <label for="userEmail" class="sr-only">User Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Enter Email">
      </div>
      <div class="form-group>">
        <label for="userPassword" class="sr-only">Password</label>
        <br>
        <input type="password" class="form-control" id="userPassword" 
          placeholder="Enter Password">
      </div>
      <br>
      <button type="submit" class="button-landing" id="loginSubmit">Login</button>
    </form>

    <button type="button" class="button-landing2" id="signUp">Sign Up</button>
  </div>


  {{else}}
    {{#if loginState 'loginPage'}}
      {{> loginPage }}
    {{else}}
      {{> createUser }}
    {{/if}}
  {{/if}}
</div>

<div class="boston-photo"> </div>
    
   







</template>
