<template name="listEvents">
  <h1 class="text-center">Current and Upcoming Events</h1>
  <hr>
  <br>
  <table class="table table-hover">
    <thead>
      <tr> 
        <th>Start Date </th>
        <th> End Date </th>
        <th> Name of Event </th>
        <th> Address </th>
      </tr>
    </thead>
    <tbody>
    {{#each events}}
    <tr>
      <td>{{startDate}}</td>
      <td>{{endDate}}</td>
      <td>{{name}}</td>
      <td>{{address}}</td>
    </tr>
    {{/each}}
    </tbody>
  </table>
</template>
