<template name="loginPage">
  <div class="col-md-4 col-md-offset-4">
    <h3><small>Login Page</small></h3>
    <form role="form">
      <div class="form-group>">
        <label for="userEmail" class="sr-only">User Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="Enter Email">
      </div>
      <div class="form-group>">
        <label for="userPassword" class="sr-only">Password</label>
        <br>
        <input type="password" class="form-control" id="userPassword" 
          placeholder="Enter Password">
      </div>
      <hr>
      <button type="submit" class="btn btn-default" id="loginSubmit">Submit</button>
    </form>
  </div>
</template>
