<template name="memberHomePage">
  <div class="row text-center">
    <h1> 
      <small>
        Welcome, {{currentMemberName}}!
      </small>
    </h1>
    <div class="col-md-4 col-md-offset-4 min-height">
      <button type="button" class="button-landing" id="quickCheckIn">
        Check Into Nearest Event
      </button>
      <br>
      <button type="button" class="button-landing" id="checkIntoEvent">
        Check into Selected Event 
      </button>
      <br>
      <button type="button" class="button-landing" id="exploreEvents">
        Explore Events
      </button>
      <br>
      <button type="button" class="button-landing" id="checkPoints">
        Points Tracker
      </button>
      <br>
      <br>
    </div>
  </div>
</template>
