<template name="memberHomePage">
  <h1 class="text-center"><small>Welcome {{currentMemberName}}
  </small></h1>
  <hr>
 <div class="col-md-4 col-md-offset-4">
   <div class="row text-center">
      <hr>

      <ul class="list-group">
      
      <a href="{{pathFor 'takePicture'}}"><li class="list-group-item">
        Enter Points
      </li></a>

      <a href="{{pathFor 'checkPoints'}}"><li class="list-group-item">
        Points Tracker
      </li></a>

      <a href="{{pathFor 'listEvents'}}"><li class="list-group-item">
        Upcoming Events 
      </li></a>

      <a href="#"><li class="list-group-item">
        Community
      </li></a>
      </ul>
    </div>
  </div>
</template>
