<template name="memberHomePage">
  <h1 class="text-center"><small>Welcome Eric</small></h1>
  <hr>
  <div class="col-md-6 col-md-offset-3">
    <div class="row text-center">
      <h1><small>Member Area</small></h1>
      <hr>
      <p><a href="takePicture" class="btn-lg btn-default btn-block">
        Take a Photo
      </a></p>
      <p><a href="scanQR" class="btn-lg btn-default btn-block">
        Scan a QR Code
      </a></p>
      <p><a href="checkPoints" class="btn-lg btn-default btn-block">
        Check Your Points
      </a></p>
      <h1><small>Community</small></h1>
      <hr>
      <p><a href="listEvents" class="btn-lg btn-default btn-block">
        Current and Upcoming Events 
      </a></p>
      <p><a href="landing" class="btn-lg btn-default btn-block">
        Community
      </a></p>
      <p><a href="landing" class="btn-lg btn-default btn-block">
        FAQ
      </a></p>
    </div>
  </div>
</template>
