<template name="memberProfiles">
  <h1 class="text-center"><small>Search for Existing Members</small></h1>
  <div class="input-group col-md-6 col-md-offset-3">
    <input type='text' class="form-control" placeholder='Member Name' id='memberSearch'/>
    <span class="input-group-btn">
      <button class="btn btn-default btn-large" id="membersearch">
        &gt;  </button>
    </span>
  </div>
  {{> results}}
  <div class='row text-center'>
    {{#with member}}
    <h3><small>User Profile</small></h3>
    <div>Name: {{profile.firstName}} {{profile.lastName}}</div>
    <div>Address: {{profile.zip}}</div>
    {{/with}}
  </div>
  <br>
  <br>
</template>
