<template name="quickCheckIn">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
    {{#if closestEvent}}
      <br>
        <h3 class="text-center"><small>Found Event!</small></h3>
        <p>Event Name: {{closestEvent.name}}</p>
        <p>Event Description: {{closestEvent.description}}</p>
        <p>Event Address: {{closestEvent.address}}</p>
      {{#if isPointsPerHour}}
        <br>
          {{> timeSelection}}
        <br>
      {{/if}}
      <button class="button-landing" id="checkIn">
        Check In
      </button>
      <br>
      <br>
    {{else}}
      <br>
      <br>
      <h3><small>Please wait, searching locations</small></h3>
      <br>
      <br>
    {{/if}}
    </div>
  </div>
</template>
