<template name="reviewPhotos">
  {{#with modalData}}
    <div class="modal fade" id="showImageModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;</button>
            <h4 class="modal-title text-center">{{pendingEventName}}</h4>
          </div>
          <div class="modal-body text-center">
            <img src="{{imageUrl this.imageId}}" alt="pending transaction image" height=400 width=400>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  {{/with}}
  <div class='row'>
    <h1>List of Pending Transactions</h1>
    <h3 class="text-center">Number of Pending Transactions {{ totalPendingTransactions }}</h3>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Description</th>
        <th>Event Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each pendingTransaction}}
      <tr>
        <td>{{pendingEventName}}</td>
        <td>{{pendingEventDescription}}</td>
        <td>{{formatDate transactionDate}} </td>
        <td>
          <button type="button" class="btn btn-warning btn-xs showImage"
            data-toggle="modal" data-target="#showImageModal">
            Show Image</button>
        </td>
        <td>
          <button type="button" class="btn btn-success btn-xs approveEvent">Approve</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-xs rejectEvent">Reject</button>
        </td>
      </tr>
    {{else}}
      <h3>No points accrued yet</h3>
    {{/each}}
    </tbody>
    </table>
  </div>
</template>
