<template name="scanQR">
  <div class="text-center">
    <h1><small>Scan a QR Code</small></h1>
    <p>Currently the user will manually enter location and points for Demo purposes</p>
      <!-- add more complex field, use options and UI helper to have select box -->
      {{#autoForm collection="Transactions" id="insertTransactionForm" type="insert"}}

        <fieldset>
                                 <div class="col-md-4 col-md-offset-4">


          <legend>Log Event</legend>
          {{> afFieldInput name='eventId' options=eventOptions}}
           </div>


        </fieldset>
                   <button type="submit" class="btn btn-default" id="submit" style="margin-top: 10px; margin-bottom: 10px;">Submit</button>


        
        
     
      {{/autoForm}}
    
  </div>
</template>
