<template name="scanQR">
  <div class="text-center">
    <h1>Scan a QR Code</h1>
    <hr>
    <p>Currently the user will manually enter location and points for Demo purposes</p>
    <div class="col-md-4 col-md-offset-4">
      <!-- add more complex field, use options and UI helper to have select box --> 
      {{#autoForm collection="Transactions" id="insertTransactionForm" type="insert"}}
        <fieldset>
          <legend>Add points from Event</legend>
          {{> afQuickField name="userId" type="hidden" value="testing"}}
          {{> afQuickField name='transactionDate'}}
          {{> afQuickField name='points' id='userPoints'}}
          {{> afFieldInput name='activity' options=activityOptions}}
        </fieldset>
        <button type="submit" class="btn btn-default" id="submit">Submit</button>
      {{/autoForm}}
    </div>
  </div>
</template>
