<template name='takePicture'>

  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center"><small>Please submit an event picture</small></h1>
        </div>

  <form role="form">
    <div class="form-group>">
      <input type="text" class="form-control" id="eventName" placeholder="Event Name">
      <input type="text" class="form-control" id="eventDescription" 
        placeholder="Event Description">
      <input type="date" class="form-control" id="eventDate" 
        placeholder="Event Date">
      <span class="input-group-btn">
        <span class="btn btn-default btn-file">
          Take Photo
        <input  id="userInput" 
          type="file" accept="image/*" capture="camera">
        </span>
      </span>
      <input id="fileName" type="text" class="form-control"
        placeholder="" readonly>
      {{#if imageLoaded}}
          <button type="button" class="btn btn-large btn-danger" 
            id="removeUserInput">Remove</button>
      {{/if}}
    <hr>
    <button class="btn btn-large btn-block btn-success" id="submitEvent">Done</button>
    </div>
  </form>


</template>
