<template name='takePicture'>
  <div class="text-center">
    <h3><small>Please submit picture</small></h3>
    {{#each images "Front"}}
      <img src="{{url}}" alt="an Image" width="400" height="400">
    {{/each}}
    <form role="form">
      <div class="form-group">
        <input  id="photoInputFront" class="center-block" type="file" accept="image/*" capture="camera"> 
      </div>
    </form>
    <button type="button" class="btn btn-large btn-danger" id="removeFront">Remove</button>
  </div>
  <hr>
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-large btn-block btn-success" id="reviewOrder">Done</button>
  </div>
</template>
