<template name="memberProfiles">
  <br>
  <div class="input-group col-md-6 col-md-offset-3">
    <input type='text' class="form-control" placeholder='Search Member Name' id='memberSearch'/>
    <span class="input-group-btn">
      <button class="btn btn-default btn-large" id="membersearch">
        &gt;  </button>
    </span>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{> results}}
    </div>
  </div>
  {{#with member}}
  <div class='row'>
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">User Profile</h1>
      <hr>
      <div>Name: {{profile.firstName}} {{profile.lastName}}</div>
      <div>Zip: {{profile.zip}}</div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" 
          id="pointsInput" placeholder="Enter Points here">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="addPoints">
            Add!
          </button>
        </span>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <button type="button" class="btn btn-block btn-danger"
        id="deleteMember">
        Delete User
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {{> checkPoints}}
    </div>
  </div>
  {{/with}}
  <br>
  <br>
</template>
